NEXT_PUBLIC_SITE_URL=http://localhost:3000
NEXT_PUBLIC_CHAIN_ID=8453
NEXT_PUBLIC_CHECK_IN_CONTRACT_ADDRESS=0x145b30d487272D4595Af5bAb21389D5f306f8207
NEXT_PUBLIC_BASE_APP_ID=
NEXT_PUBLIC_BUILDER_CODE=
# optional:
NEXT_PUBLIC_BUILDER_CODE_SUFFIX=
NEXT_PUBLIC_WALLETCONNECT_PROJECT_ID=
